body {
  display: flex;
  height: 100vh;
}
#left {
  width: 200px;
  background-color: #87ceeb;
}
#left .logo {
  margin: 25px;
}
#left .logo img {
  width: 140px;
  border-radius: 50%;
  border: 10px solid #fff;
  box-shadow: 0px 0px 8px #pink;
}
#left .logo p {
  text-align: center;
  margin-top: 10px;
}
#left .list-group .list-group-item {
  border-color: transparent;
  background-color: transparent;
}
#left .list-group .list-group-item.active,
#left .list-group .list-group-item:hover {
  background-color: #ff69b4;
  color: #fff;
}
#left .list-group .classify {
  margin-left: 15px;
}
#right {
  flex: 1;
  background-color: #f5f5f5;
}
#right .title {
  height: 80px;
  background-color: #fff;
  font-size: 25px;
  position: relative;
}
#right .title a {
  position: absolute;
  top: 28px;
}
#right .title .left {
  left: 0;
  margin-left: 20px;
}
#right .title .right {
  right: 0;
  margin-right: 20px;
}
#right .content {
  margin: 20px;
  background-color: #fff;
}
#right .content tr,
#right .content th,
#right .content td {
  text-align: center;
  line-height: 30px;
}
