body {
  background-color: #2f4050;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-horizontal {
  width: 500px;
  height: 340px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.form-horizontal img {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 140px;
  border: 10px solid #fff;
  box-shadow: 0px 0px 8px #ff69b4;
}
.form-horizontal .form-group {
  width: 450px;
}
.form-horizontal .form-group .btn-login {
  background-color: #ff69b4;
  color: #fff;
}
